* {
    box-sizing: border-box;
}

body {
    padding:0;
    margin:0;
    background-color: #c4f4c7;
}

header {
    background-color: #9bb291;
    padding-top: 20px;
}

#header {
    font-size: 50px;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

@media (max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}

.link:hover {
    color: #e8e1ef;
}

.link{
    padding-right: 20px;
    font-size: 20px;
}

h1 {
    margin: 0;
    color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    background-color: #c4f4c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 200px;
    height: 10vh;

}

footer {
    background-color: #d9fff8;
    border: 10px solid;
    border-color: #e8e1ef;
    text-align: right;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: 100%;
}

/* for the about and portfolio page */

.title-about-portfolio {
    margin: 0;
    color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

section {
    border: 10px solid;
    border-color: #e8e1ef;
    margin: 10px;
}

.mainbody-about-portfolio {
    font-size: 40px;
}