
h1{
    padding: 50px;
    background-color: #a09abc;
    text-align: center;
    font-size: 3rem;
    margin: 0%;
}

.namecontainer {
    background-color: #b6a6ca;
    padding: 20px 20px;
    
}

.nameform{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    padding: 10px 10px;
    background-color: #d5cfe1;
    margin: 0%;
}
.checkbox-container{
    background-color: #e1dee9;
}

.checkbox-container label:nth-child(even){
    background-color:#d5cfe1 ;
}

.submit{
    font-size: 2rem;
}

.submitContainer{
    background-color: #d4bebe;
    text-align: center;
}

@media (hover:hover){
.submit:hover{
    font-size: 3rem;
    color:rebeccapurple;
}
}
    
